DB_DIALECT=pg
DATABASE_URL=postgres://username:your-database-password@localhost:5432/your-database-name
DB_DATABASE=your-database-name
SENDGRID_API_KEY=
API_PROTOCOL=http
API_URL=localhost:port
WEBUI_PROTOCOL=http
WEBUI_URL=localhost:port